.container {
  padding: 0 2rem;
}

.pp {
  width: calc(50px + 7vw);
  height: auto;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.pp .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}
@media screen and (min-width: 1280px) {
  .pp {
    margin-top: 4rem;
  }
}


.navwrapper {
  height: 13vh;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.navleft {
  display: flex;
}

.navmid {
  align-items: center;
  display: flex;
}

.navright {
  display: flex;
}

.profile {
  cursor: pointer;
}

.logo {
  width: calc(180px + 7vw);
  height: auto;
  position: relative;
  cursor: pointer;
}
.logo .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .navwrapper {
    margin-top: 10px;
  }
}




.buttondiv {
  display: flex;
  justify-content: center;
}
.button {
  border-radius: 20px;
  height: 40px;
  width: 100px;
  background-color: transparent;
  border: 3px solid;
  cursor: pointer;
}