.container {
    padding: 0 2rem;
    text-align: center;
}

.toptext {
    margin-top: 5rem;
}

.blobdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.blobone {
    z-index: 0;
    width: 70%;
}

.inputs {
    margin-top: 3rem;
}